{% extends '@admin/layout.twig' %}

{% block title "Editer l' article" %}

{% block body %}
    <h1>Ajouter une categorie {{ item.name }}</h1>

    <form action="{{ path(routePrefix ~ '.create') }}" method="post">
        {% include viewPath ~ '/form.twig' %}
        <button class="btn btn-primary" type="submit">
            Creer
        </button>
    </form>
{% endblock %}
